body { 
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  margin-top: 5%;
}


#content {
  height: 200;
  width: 500;
  margin-left: 250px;
  font-family: "Century Gothic",Verdana,sans-serif;

  
}